//- Copyright 2017 Capital One Services, LLC
//- 
//- Licensed under the Apache License, Version 2.0 (the "License");
//- you may not use this file except in compliance with the License.
//- You may obtain a copy of the License at
//- 
//-     http://www.apache.org/licenses/LICENSE-2.0
//- 
//- Unless required by applicable law or agreed to in writing, software
//- distributed under the License is distributed on an "AS IS" BASIS,
//- WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
//- See the License for the specific language governing permissions and limitations under the License.
//-
//- SPDX-Copyright: Copyright (c) Capital One Services, LLC
//- SPDX-License-Identifier: Apache-2.0

extends ./layout

block content
  div#prequal-offers
    div.header
      div.container
        if error
          span.error= error
        else if isPrequalified
          h2 You prequalify for the following offers:
        else if products && products.length
          h2 We're sorry, we can't prequalify you based on the information that you provided, but you can check out these great offers:
        else
          h2 We weren't able to find any offers

    div.cards.container
      each card in products
        div.card-info(data-raw-json="#{card.rawJSON}")
          div.main-info
            div.details
              p.card-title
                +cardNameLink(card)
                a.json-toggle.pull-right(href="#", title="See raw JSON") {...}
              div.summary
                +cardNameImage(card)
                +marketingCopy(card)
            div.apply
              +applyButton(card)
              p with CapitalOne
                sup ®
    footer#prequal-stats-summary.navbar-fixed-bottom
      i.fa.fa-pie-chart(aria-hidden="true")
      div.stat-text Loading Stats...
      div.acknowledgement
        span.status-text Acknowledging...
        i.status-icon.fa.fa-circle-o

block modals
  include ./includes/raw-json-modal

block scripts
  script.
    $(function() {
      var prequalificationId = '#{prequalificationId}'
      if (!prequalificationId) {
        console.warn('Displayed offers without a prequalification ID')
        return
      }
      
      // Tell the server that we have displayed the products to the user
      $.post('/offers/acknowledge/' + encodeURIComponent(prequalificationId))
        .done(function () {
          console.log('Successfully acknowledged prequalification products')
          $('.acknowledgement .status-icon').addClass('success')
          $('.acknowledgement .status-text').text('Acknowledged')
        })
        .fail(function (res, st, err) {
          console.warn('Failed to acknowledge prequalification products: ' + err)
          $('.acknowledgement .status-icon').addClass('failure')
          $('.acknowledgement .status-text').text('Acknowledgement Failed')
          $('.acknowledgement')
              .attr('data-toggle', 'tooltip')
              .attr('title', 'err')
              .tooltip()
        })
        .always(function () {
          $('.acknowledgement .status-icon').removeClass('fa-circle-o').addClass('fa-circle')
        })
    })
    
    $(function () {
      function makeStat(title, value) {
        var stat = $('<div></div>').addClass('stat')
        stat.append($('<span></span>').addClass('stat-title').html(title + ': '))
        stat.append($('<span></span>').html(value))
        return stat
      }
    
      $.getJSON('/offers/summary')
        .done(function (data) {
          var parent = $('#prequal-stats-summary .stat-text').html(''),
              stats = [
                makeStat('Consumer Cards', data.consumerCardCount),
                makeStat('Non-PreQualified', data.nonPrequalifiedCount),
                makeStat('PreQualified', data.prequalifiedCount),
                makeStat('Total', data.total)
              ]
          parent.append(stats)
        })
        .fail(function () {
          $('#prequal-stats-summary .stat-text').html('<span class="error">FAILED to get prequalification summary data!</span>')
        })
    })

    $(function () {
      $('.card-info .json-toggle').click(function (evt) {
        var card = $(this).closest('.card-info'),
            json = JSON.stringify(card.data('rawJson'), null, 2);
        evt.preventDefault();

        $('#card-json .raw-json').text(json);
        $('#card-json').modal('show');
      });
    });
