//- Copyright 2016 Capital One Services, LLC
//- 
//- Licensed under the Apache License, Version 2.0 (the "License");
//- you may not use this file except in compliance with the License.
//- You may obtain a copy of the License at
//- 
//-     http://www.apache.org/licenses/LICENSE-2.0
//- 
//- Unless required by applicable law or agreed to in writing, software
//- distributed under the License is distributed on an "AS IS" BASIS,
//- WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
//- See the License for the specific language governing permissions and limitations under the License.

extends ./layout

block content
  div#prequal-offers
    div.header
      div.container
        if error
          span.error= error
        else if isPrequalified
          h2 You prequalify for the following offers:
        else if products && products.length
          h2 We're sorry, we can't prequalify you based on the information that you provided, but you can check out these great offers:
        else
          h2 We weren't able to find any offers

    div.cards.container
      each card in products
        div.card-info
          div.main-info
            div.details
              p.card-title
                +cardNameLink(card)
              div.summary
                +cardNameImage(card)
                +marketingCopy(card)
            div.apply
              +applyButton(card)
              p with CapitalOne
                sup ®
    footer#prequal-stats-summary.navbar-fixed-bottom
      i.fa.fa-pie-chart(aria-hidden="true")
      div.stat-text Loading Stats...

block scripts
  script.
    $(function() {
      var prequalificationId = '#{prequalificationId}'
      if (!prequalificationId) {
        console.warn('Displayed offers without a prequalification ID')
        return
      }
      
      // Tell the server that we have displayed the products to the user
      $.post('/offers/acknowledge/' + encodeURIComponent(prequalificationId))
        .done(function () {
          console.log('Successfully acknowledged prequalification products')
        })
        .fail(function (res, st, err) {
          console.warn('Failed to acknowledge prequalification products: ' + err)
        })
    })
    
    $(function () {
      function makeStat(title, value) {
        var stat = $('<div></div>').addClass('stat')
        stat.append($('<span></span>').addClass('stat-title').html(title + ': '))
        stat.append($('<span></span>').html(value))
        return stat
      }
    
      $.getJSON('/offers/summary')
        .done(function (data) {
          var parent = $('#prequal-stats-summary .stat-text').html(''),
              stats = [
                makeStat('Consumer Cards', data.consumerCardCount),
                makeStat('Non-PreQualified', data.nonPrequalifiedCount),
                makeStat('PreQualified', data.prequalifiedCount),
                makeStat('Total', data.total)
              ]
          parent.append(stats)
        })
        .fail(function () {
          $('#prequal-stats-summary .stat-text').html('<span class="error">FAILED to get prequalification summary data!</span>')
        })
    })
